<div class="animsition">
    <main>
      <div class="navbar navbar-default default" role="navigation">
        <div class="navbar-header">
          <div class="navbar-brand"><a href="/"><img src="#"
                srcset="/static/style/images/logo.png 1x, /static/style/images/logo@2x.png 2x" alt="" /></a></div>
          <div class="nav-bars-wrapper">
            <div class="nav-bars-inner">
              <div class="nav-bars" data-toggle="collapse" data-target=".navbar-collapse"><span></span></div>
            </div>
            <!-- /.nav-bars-inner -->
          </div>
          <!-- /.nav-bars-wrapper -->
          <div class="header-other">
            <div class="btn-group pull-right text-right"> <a href="#" class="share-button btn btn-light dropdown-toggle"
                data-toggle="dropdown"><span></span>Share</a>
              <div class="dropdown-menu">
                <div class="goodshare-wrapper"> <a href="#" class="goodshare" data-type="fb">Share</a> <a href="#"
                    class="goodshare" data-type="tw">Tweet</a> <a href="#" class="goodshare" data-type="pt">Pin</a> <a
                    href="#" class="goodshare" data-type="tm">Post</a> </div>
                <!-- /.goodshare-wrapper -->
              </div>
              <!-- /.dropdown-menu -->
            </div>
            <!-- /.btn-group -->
          </div>
          <!-- /.header-other -->
        </div>
        <!-- /.navbar-header -->